n8n/arh-anyur-request.workflow.json
{
  "name": "ARH · ANYUR REQUEST form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HIJRA - ANYUR REQUEST",
        "formDescription": "Intake form for ARH Anyur requests. Captures customer name, the type of Anyur need (Pembiayaan/Pendanaan/Kerja Sama), legality document links, additional notes, and the supervising user.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi dengan Nama Nasabah"
            },
            {
              "fieldLabel": "KEPERLUAN ANYUR",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Diisi sesuai dengan pilihan",
              "fieldOptions": {
                "values": [
                  {
                    "option": "PEMBIAYAAN"
                  },
                  {
                    "option": "PENDANAAN"
                  },
                  {
                    "option": "KERJA SAMA"
                  }
                ]
              }
            },
            {
              "fieldLabel": "DOKUMEN LEGALITAS NASABAH",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi link Google Drive/Link PDF/Ms.W (Dokumen : Akta Pendirian & Perubahan serta SK Kemenkumham, NPWP Perusahaan, KTP Pengurus, NIB, Perizinan Perusahaan, dokumen lainnya jika ada dan diperlukan)"
            },
            {
              "fieldLabel": "KETERANGAN TAMBAHAN",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi jika ada keterangan tambahan"
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Unassigned",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "00006a3e-136d-45c7-b206-60bc59f0282b",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "4b832709-3047-4c07-968e-a893e5bc6780"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Generated by build_form_workflow.py — form submission -> Plane work item payload.\n// Plane create body: name (required), description_html, priority,\n// assignees[] (member UUIDs), target_date/start_date (YYYY-MM-DD).\nconst f = $json;\n\nconst FIELDS         = [{\"label\": \"NAMA NASABAH\", \"isLink\": false}, {\"label\": \"KEPERLUAN ANYUR\", \"isLink\": false}, {\"label\": \"DOKUMEN LEGALITAS NASABAH\", \"isLink\": true}, {\"label\": \"KETERANGAN TAMBAHAN\", \"isLink\": false}, {\"label\": \"ATASAN USER\", \"isLink\": false}];          // [{label, isLink}]\nconst ASSIGNEE_FIELD = \"ATASAN USER\";  // \"\" or the user-picker field label\nconst MEMBER_MAP     = {\"Danny Dwi Cahyono (dcahyono@hijra.id)\": \"f799f9fe-ed67-427c-8e51-199de6cd54a6\"};      // friendly label -> Plane member UUID\nconst TITLE_TEMPLATE = \"{NAMA NASABAH}\";  // uses {FIELD LABEL} tokens\nconst PRIORITY       = \"medium\";        // urgent|high|medium|low|none\nconst STATE          = \"69306e78-b16f-40ca-8c7c-efe6bd5e36fc\";           // Plane state UUID (intake); \"\" -> project default\nconst LABELS             = [\"5bd782b8-c9d2-44da-8e44-ef609fd94911\", \"0c84cc70-c04f-4255-8183-e31636836ddd\"];             // label UUIDs attached to every submission\nconst CHOICE_LABEL_FIELD = \"\"; // field whose option adds a label (\"\" = none)\nconst CHOICE_LABEL_MAP   = {};   // {option text: label UUID}\nconst MODULE_FIELD       = \"KEPERLUAN ANYUR\";       // field whose option maps to a module (\"\" = none)\nconst MODULE_MAP         = {\"PEMBIAYAAN\": \"cc037e79-be59-4568-a8d2-5dd9abc9cec7\", \"PENDANAAN\": \"7cb300ab-59e8-414e-ae58-b6eff2439738\", \"KERJA SAMA\": \"2c14c379-d6a5-43c3-9810-2ca59a3ae4ad\"};         // {option text: module UUID}\nconst DUE_IN_DAYS        = 3;         // -1 disables auto dates\nconst DATE_MAPPINGS      = {};       // {field label: \"target_date\"|\"start_date\"}\n\nconst get = (l) => (f[l] == null ? '' : String(f[l])).trim();\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst linkify = (u) => {\n  const s = String(u || '').trim();\n  if (!s) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(s) ? ('<a href=\"' + esc(s) + '\">' + esc(s) + '</a>') : esc(s);\n};\n\n// --- Title ---\nlet name = TITLE_TEMPLATE.replace(/\\{([^}]+)\\}/g, (_, k) => get(k)).replace(/\\s+/g, ' ').trim();\nif (!name) name = (get((FIELDS[0] || {}).label) || 'Untitled');\n\n// --- Assignee (hit -> set; miss -> capture in description) ---\nlet assignees = [];\nlet unresolvedAssignee = '';\nif (ASSIGNEE_FIELD) {\n  const lbl = get(ASSIGNEE_FIELD);\n  if (MEMBER_MAP[lbl]) assignees = [MEMBER_MAP[lbl]];\n  else if (lbl) unresolvedAssignee = lbl;\n}\n\n// --- Description (HTML) — one row per field, links clickable ---\nconst rows = [];\nfor (const fld of FIELDS) {\n  if (fld.label === ASSIGNEE_FIELD) continue;     // shown via assignee handling\n  if (DATE_MAPPINGS[fld.label]) continue;          // promoted to a Plane date field\n  const v = get(fld.label);\n  rows.push('<p><strong>' + esc(fld.label) + ':</strong> '\n    + (fld.isLink ? ('<br/>' + linkify(v)) : esc(v)) + '</p>');\n}\nif (unresolvedAssignee) {\n  rows.push('<p><strong>' + esc(ASSIGNEE_FIELD)\n    + ' (belum terpetakan ke member Plane):</strong> ' + esc(unresolvedAssignee) + '</p>');\n}\nconst description_html = rows.join('\\n');\n\n// --- Labels: always-on + choice-driven ---\nlet labels = LABELS.slice();\nif (CHOICE_LABEL_FIELD) {\n  const id = CHOICE_LABEL_MAP[get(CHOICE_LABEL_FIELD)];\n  if (id && labels.indexOf(id) < 0) labels.push(id);\n}\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: PRIORITY,\n  assignees: assignees,\n};\nif (STATE) body.state = STATE;             // pin intake state (else Plane uses project default)\nif (labels.length) body.labels = labels;\n\n// Auto dates: start = today, due = today + DUE_IN_DAYS. Computed in Asia/Jakarta\n// (UTC+7, no DST) so \"today\" is correct regardless of the n8n server timezone.\nif (DUE_IN_DAYS >= 0) {\n  const _pad = (n) => String(n).padStart(2, '0');\n  const _ymd = (d) => d.getUTCFullYear() + '-' + _pad(d.getUTCMonth() + 1) + '-' + _pad(d.getUTCDate());\n  const _jkt = new Date(Date.now() + 7 * 3600 * 1000);\n  body.start_date = _ymd(_jkt);\n  body.target_date = _ymd(new Date(_jkt.getTime() + DUE_IN_DAYS * 86400000));\n}\n\n// Explicit form date fields (if any) override the auto dates.\nfor (const lbl of Object.keys(DATE_MAPPINGS)) {\n  const v = get(lbl);\n  if (v) body[DATE_MAPPINGS[lbl]] = v;   // n8n date field yields YYYY-MM-DD\n}\n\n// Module is set via a second call (Plane create takes no module); resolve its UUID\n// from the chosen category. Empty -> the \"Add to module\" node (if any) is a no-op.\nlet module_id = '';\nif (MODULE_FIELD) module_id = MODULE_MAP[get(MODULE_FIELD)] || '';\n\nreturn { body: body, module_id: module_id };\n"
      },
      "id": "8e8f86ab-0684-44d4-94b4-f2b10ebf4132",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "e7f80d53-75c2-4648-9b6a-26768531af43",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan berhasil dibuat",
        "completionMessage": "=Created ARH-{{ $('Create Plane work item').first().json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $('Create Plane work item').first().json.id }}",
        "options": {}
      },
      "id": "762cf677-1486-4dd2-bf05-c14dd96b2876",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "content": "## ARH form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE`\n- **`PLANE_TARGET_PROJECT_ID`** → `ef603ac8-09d4-413f-ab6e-b9aea65af65a` (ARH)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n- new items created in state **Todo** (`69306e78-b16f-40ca-8c7c-efe6bd5e36fc`)\n- auto-labels: business-form, business-form-60\n- module: the chosen **KEPERLUAN ANYUR** is matched by name to a module (via the 'Add to module' node, set to continue-on-fail)\n\n### Assignee dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's MEMBER_MAP resolves the choice\nto a member UUID (hit → assignee; miss → captured in the description). Add BOTH a\ndropdown option AND a MEMBER_MAP entry (identical strings) as people sign up:\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\n### Manual / needs attention\n- ATASAN USER is a Jira user-picker (person field) with no n8n equivalent; build as a member-snapshot dropdown and refresh as people join Plane. Maps to Plane assignees via member-email lookup.\n- DOKUMEN LEGALITAS NASABAH expects a Google Drive / PDF / Ms.W link (treated as text/link), not an inline file upload — Plane create API takes no inline files.\n",
        "height": 360,
        "width": 480
      },
      "id": "e8333700-1e95-477d-bd25-16cd09c7f732",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/modules/{{ $('Map → Plane payload').first().json.module_id }}/module-issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"issues\": [$json.id] } }}",
        "options": {}
      },
      "id": "6fa141ba-842d-4e79-9c3c-cc432357e9de",
      "name": "Add to module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        0
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Add to module",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to module": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "arh-anyur-request"
  }
}
