n8n/arh-anyur-request.workflow.json
{
  "name": "ARH · ANYUR REQUEST form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HIJRA - ANYUR REQUEST",
        "formDescription": "Intake form for ARH Anyur requests. Captures customer name, the type of Anyur need (Pembiayaan/Pendanaan/Kerja Sama), legality document links, additional notes, and the supervising user.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi dengan Nama Nasabah"
            },
            {
              "fieldLabel": "KEPERLUAN ANYUR",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Diisi sesuai dengan pilihan",
              "fieldOptions": {
                "values": [
                  {
                    "option": "PEMBIAYAAN"
                  },
                  {
                    "option": "PENDANAAN"
                  },
                  {
                    "option": "KERJA SAMA"
                  }
                ]
              }
            },
            {
              "fieldLabel": "DOKUMEN LEGALITAS NASABAH",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi link Google Drive/Link PDF/Ms.W (Dokumen : Akta Pendirian & Perubahan serta SK Kemenkumham, NPWP Perusahaan, KTP Pengurus, NIB, Perizinan Perusahaan, dokumen lainnya jika ada dan diperlukan)"
            },
            {
              "fieldLabel": "KETERANGAN TAMBAHAN",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi jika ada keterangan tambahan"
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Unassigned",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "42721f10-2c63-4621-b632-85371f5f87b1",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "a73d071e-05d2-4624-9281-b99c0e0ef52a"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Generated by build_form_workflow.py — form submission -> Plane work item payload.\n// Plane create body: name (required), description_html, priority,\n// assignees[] (member UUIDs), target_date/start_date (YYYY-MM-DD).\nconst f = $json;\n\nconst FIELDS         = [{\"label\": \"NAMA NASABAH\", \"isLink\": false}, {\"label\": \"KEPERLUAN ANYUR\", \"isLink\": false}, {\"label\": \"DOKUMEN LEGALITAS NASABAH\", \"isLink\": true}, {\"label\": \"KETERANGAN TAMBAHAN\", \"isLink\": false}, {\"label\": \"ATASAN USER\", \"isLink\": false}];          // [{label, isLink}]\nconst ASSIGNEE_FIELD = \"ATASAN USER\";  // \"\" or the user-picker field label\nconst MEMBER_MAP     = {\"Danny Dwi Cahyono (dcahyono@hijra.id)\": \"f799f9fe-ed67-427c-8e51-199de6cd54a6\"};      // friendly label -> Plane member UUID\nconst TITLE_TEMPLATE = \"{KEPERLUAN ANYUR} – {NAMA NASABAH}\";  // uses {FIELD LABEL} tokens\nconst PRIORITY       = \"none\";        // urgent|high|medium|low|none\nconst DATE_MAPPINGS  = {};   // {field label: \"target_date\"|\"start_date\"}\n\nconst get = (l) => (f[l] == null ? '' : String(f[l])).trim();\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst linkify = (u) => {\n  const s = String(u || '').trim();\n  if (!s) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(s) ? ('<a href=\"' + esc(s) + '\">' + esc(s) + '</a>') : esc(s);\n};\n\n// --- Title ---\nlet name = TITLE_TEMPLATE.replace(/\\{([^}]+)\\}/g, (_, k) => get(k)).replace(/\\s+/g, ' ').trim();\nif (!name) name = (get((FIELDS[0] || {}).label) || 'Untitled');\n\n// --- Assignee (hit -> set; miss -> capture in description) ---\nlet assignees = [];\nlet unresolvedAssignee = '';\nif (ASSIGNEE_FIELD) {\n  const lbl = get(ASSIGNEE_FIELD);\n  if (MEMBER_MAP[lbl]) assignees = [MEMBER_MAP[lbl]];\n  else if (lbl) unresolvedAssignee = lbl;\n}\n\n// --- Description (HTML) — audit trail of every field ---\nconst rows = [];\nfor (const fld of FIELDS) {\n  if (fld.label === ASSIGNEE_FIELD) continue;     // shown via assignee handling\n  if (DATE_MAPPINGS[fld.label]) continue;          // promoted to a Plane date field\n  const v = get(fld.label);\n  rows.push('<p><strong>' + esc(fld.label) + ':</strong> '\n    + (fld.isLink ? ('<br/>' + linkify(v)) : esc(v)) + '</p>');\n}\nif (unresolvedAssignee) {\n  rows.push('<p><strong>' + esc(ASSIGNEE_FIELD)\n    + ' (belum terpetakan ke member Plane):</strong> ' + esc(unresolvedAssignee) + '</p>');\n}\nrows.push('<hr/>');\nrows.push('<p><em>Dibuat via n8n form.</em></p>');\nconst description_html = rows.join('\\n');\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: PRIORITY,\n  assignees: assignees,\n};\nfor (const lbl of Object.keys(DATE_MAPPINGS)) {\n  const v = get(lbl);\n  if (v) body[DATE_MAPPINGS[lbl]] = v;   // n8n date field yields YYYY-MM-DD\n}\n\nreturn { body: body };\n"
      },
      "id": "2e2a327f-40a8-43cb-85af-69c4a35cf97f",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "52e0e031-9940-4652-b671-746d02984730",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan berhasil dibuat",
        "completionMessage": "=Created ARH-{{ $json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $json.id }}",
        "options": {}
      },
      "id": "bfbc91c6-797a-4195-8617-8642def37866",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "content": "## ARH form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE`\n- **`PLANE_TARGET_PROJECT_ID`** → `ef603ac8-09d4-413f-ab6e-b9aea65af65a` (ARH)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n\n### Assignee dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's MEMBER_MAP resolves the choice\nto a member UUID (hit → assignee; miss → captured in the description). Add BOTH a\ndropdown option AND a MEMBER_MAP entry (identical strings) as people sign up:\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\n### Manual / needs attention\n- ATASAN USER is a Jira user-picker (person field) with no n8n equivalent; build as a member-snapshot dropdown and refresh as people join Plane. Maps to Plane assignees via member-email lookup.\n- DOKUMEN LEGALITAS NASABAH expects a Google Drive / PDF / Ms.W link (treated as text/link), not an inline file upload — Plane create API takes no inline files.\n",
        "height": 360,
        "width": 480
      },
      "id": "980f1476-d72f-46ee-83f5-c673a6115435",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "arh-anyur-request"
  }
}
