n8n/hij-appraisal-request.workflow.json
{
  "name": "HIJ · APPRAISAL REQUEST form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HIJRA-APPRAISAL REQUEST",
        "formDescription": "Jira ProForma intake form for project HIJ (appraisal request). Captures customer name, financing amount, appraisal valuation type, submission document link, valuation object type, optional notes, and the requesting user's superior (ATASAN USER user-picker).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi Nama Nasabah/Pemilik Jaminan"
            },
            {
              "fieldLabel": "NOMINAL PENGAJUAN PEMBIAYAAN",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi dengn nominal Contoh : Rp.XXX.XXX.XXX"
            },
            {
              "fieldLabel": "PENILAIAN APPRAISAL",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "KJPP/EKSTERNAL"
                  },
                  {
                    "option": "INTERNAL"
                  },
                  {
                    "option": "PROGRES REPORT"
                  }
                ]
              }
            },
            {
              "fieldLabel": "DOKUMEN PENGAJUAN",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi link Google Drive/Link PDF/Ms.W (Fc. Sertifikat, PBB, IMB/PBG, BPKB)"
            },
            {
              "fieldLabel": "OBJEK PENILAIAN",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Dipilis sesuai pilihan",
              "fieldOptions": {
                "values": [
                  {
                    "option": "TANAH & BANGUNAN"
                  },
                  {
                    "option": "TANAH KOSONG"
                  },
                  {
                    "option": "RUKO/RUKAN"
                  },
                  {
                    "option": "APARTEMEN"
                  },
                  {
                    "option": "GUDANG"
                  },
                  {
                    "option": "KENDARAAN"
                  },
                  {
                    "option": "BARANG PERSEDIAAN"
                  },
                  {
                    "option": "Lainnya"
                  }
                ]
              }
            },
            {
              "fieldLabel": "KETERANGAN TAMBAHAN (JIKA ADA)",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "Diisi keterangan tambahan jika ada"
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Diisi Atasan User",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "8625b4fe-339d-4f19-a7e0-0e3855d9c953",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "29fabd47-3fc0-4ea1-8731-6f852f4b8060"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Generated by build_form_workflow.py — form submission -> Plane work item payload.\n// Plane create body: name (required), description_html, priority,\n// assignees[] (member UUIDs), target_date/start_date (YYYY-MM-DD).\nconst f = $json;\n\nconst FIELDS         = [{\"label\": \"NAMA NASABAH\", \"isLink\": false}, {\"label\": \"NOMINAL PENGAJUAN PEMBIAYAAN\", \"isLink\": false}, {\"label\": \"PENILAIAN APPRAISAL\", \"isLink\": false}, {\"label\": \"DOKUMEN PENGAJUAN\", \"isLink\": true}, {\"label\": \"OBJEK PENILAIAN\", \"isLink\": false}, {\"label\": \"KETERANGAN TAMBAHAN (JIKA ADA)\", \"isLink\": false}, {\"label\": \"ATASAN USER\", \"isLink\": false}];          // [{label, isLink}]\nconst ASSIGNEE_FIELD = \"ATASAN USER\";  // \"\" or the user-picker field label\nconst MEMBER_MAP     = {\"Danny Dwi Cahyono (dcahyono@hijra.id)\": \"f799f9fe-ed67-427c-8e51-199de6cd54a6\"};      // friendly label -> Plane member UUID\nconst TITLE_TEMPLATE = \"{PENILAIAN APPRAISAL} – {NAMA NASABAH}\";  // uses {FIELD LABEL} tokens\nconst PRIORITY       = \"none\";        // urgent|high|medium|low|none\nconst DATE_MAPPINGS  = {};   // {field label: \"target_date\"|\"start_date\"}\n\nconst get = (l) => (f[l] == null ? '' : String(f[l])).trim();\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst linkify = (u) => {\n  const s = String(u || '').trim();\n  if (!s) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(s) ? ('<a href=\"' + esc(s) + '\">' + esc(s) + '</a>') : esc(s);\n};\n\n// --- Title ---\nlet name = TITLE_TEMPLATE.replace(/\\{([^}]+)\\}/g, (_, k) => get(k)).replace(/\\s+/g, ' ').trim();\nif (!name) name = (get((FIELDS[0] || {}).label) || 'Untitled');\n\n// --- Assignee (hit -> set; miss -> capture in description) ---\nlet assignees = [];\nlet unresolvedAssignee = '';\nif (ASSIGNEE_FIELD) {\n  const lbl = get(ASSIGNEE_FIELD);\n  if (MEMBER_MAP[lbl]) assignees = [MEMBER_MAP[lbl]];\n  else if (lbl) unresolvedAssignee = lbl;\n}\n\n// --- Description (HTML) — audit trail of every field ---\nconst rows = [];\nfor (const fld of FIELDS) {\n  if (fld.label === ASSIGNEE_FIELD) continue;     // shown via assignee handling\n  if (DATE_MAPPINGS[fld.label]) continue;          // promoted to a Plane date field\n  const v = get(fld.label);\n  rows.push('<p><strong>' + esc(fld.label) + ':</strong> '\n    + (fld.isLink ? ('<br/>' + linkify(v)) : esc(v)) + '</p>');\n}\nif (unresolvedAssignee) {\n  rows.push('<p><strong>' + esc(ASSIGNEE_FIELD)\n    + ' (belum terpetakan ke member Plane):</strong> ' + esc(unresolvedAssignee) + '</p>');\n}\nrows.push('<hr/>');\nrows.push('<p><em>Dibuat via n8n form.</em></p>');\nconst description_html = rows.join('\\n');\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: PRIORITY,\n  assignees: assignees,\n};\nfor (const lbl of Object.keys(DATE_MAPPINGS)) {\n  const v = get(lbl);\n  if (v) body[DATE_MAPPINGS[lbl]] = v;   // n8n date field yields YYYY-MM-DD\n}\n\nreturn { body: body };\n"
      },
      "id": "bb0894f7-c0f7-4bed-b6c2-533bb8a871e6",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "090f5b21-67be-4268-8a63-a4ba1cbc0421",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan berhasil dibuat",
        "completionMessage": "=Created HIJ-{{ $json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $json.id }}",
        "options": {}
      },
      "id": "3c8ee1b8-a24f-47e8-bcc9-457a31515367",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "content": "## HIJ form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE`\n- **`PLANE_TARGET_PROJECT_ID`** → `e89c3f8b-5603-41af-9187-11638d1f65ce` (HIJ)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n\n### Assignee dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's MEMBER_MAP resolves the choice\nto a member UUID (hit → assignee; miss → captured in the description). Add BOTH a\ndropdown option AND a MEMBER_MAP entry (identical strings) as people sign up:\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\n### Manual / needs attention\n- ATASAN USER is a Jira user-picker (person field) with no n8n equivalent; rebuild as a member-snapshot dropdown sourced from Plane project members and refresh as people join — maps to the work-item assignee\n",
        "height": 360,
        "width": 480
      },
      "id": "1155c5e8-0629-4815-b40c-3dc2e088ec4b",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "hij-appraisal-request"
  }
}
