n8n/hij-appraisal-request.workflow.json
{
  "name": "HIJ · APPRAISAL REQUEST form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HIJRA-APPRAISAL REQUEST",
        "formDescription": "Jira ProForma intake form for project HIJ (appraisal request). Captures customer name, financing amount, appraisal valuation type, submission document link, valuation object type, optional notes, and the requesting user's superior (ATASAN USER user-picker).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi Nama Nasabah/Pemilik Jaminan"
            },
            {
              "fieldLabel": "NOMINAL PENGAJUAN PEMBIAYAAN",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi dengn nominal Contoh : Rp.XXX.XXX.XXX"
            },
            {
              "fieldLabel": "PENILAIAN APPRAISAL",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "KJPP/EKSTERNAL"
                  },
                  {
                    "option": "INTERNAL"
                  },
                  {
                    "option": "PROGRES REPORT"
                  }
                ]
              }
            },
            {
              "fieldLabel": "DOKUMEN PENGAJUAN",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi link Google Drive/Link PDF/Ms.W (Fc. Sertifikat, PBB, IMB/PBG, BPKB)"
            },
            {
              "fieldLabel": "OBJEK PENILAIAN",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Dipilis sesuai pilihan",
              "fieldOptions": {
                "values": [
                  {
                    "option": "TANAH & BANGUNAN"
                  },
                  {
                    "option": "TANAH KOSONG"
                  },
                  {
                    "option": "RUKO/RUKAN"
                  },
                  {
                    "option": "APARTEMEN"
                  },
                  {
                    "option": "GUDANG"
                  },
                  {
                    "option": "KENDARAAN"
                  },
                  {
                    "option": "BARANG PERSEDIAAN"
                  },
                  {
                    "option": "Lainnya"
                  }
                ]
              }
            },
            {
              "fieldLabel": "KETERANGAN TAMBAHAN (JIKA ADA)",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "Diisi keterangan tambahan jika ada"
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Diisi Atasan User",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3ad44207-c606-4cf3-8e11-78a4a5a8e720",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "86e87b25-7acb-40db-9b9d-d9fb306b13a2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Generated by build_form_workflow.py — form submission -> Plane work item payload.\n// Plane create body: name (required), description_html, priority,\n// assignees[] (member UUIDs), target_date/start_date (YYYY-MM-DD).\nconst f = $json;\n\nconst FIELDS         = [{\"label\": \"NAMA NASABAH\", \"isLink\": false}, {\"label\": \"NOMINAL PENGAJUAN PEMBIAYAAN\", \"isLink\": false}, {\"label\": \"PENILAIAN APPRAISAL\", \"isLink\": false}, {\"label\": \"DOKUMEN PENGAJUAN\", \"isLink\": true}, {\"label\": \"OBJEK PENILAIAN\", \"isLink\": false}, {\"label\": \"KETERANGAN TAMBAHAN (JIKA ADA)\", \"isLink\": false}, {\"label\": \"ATASAN USER\", \"isLink\": false}];          // [{label, isLink}]\nconst ASSIGNEE_FIELD = \"ATASAN USER\";  // \"\" or the user-picker field label\nconst MEMBER_MAP     = {\"Danny Dwi Cahyono (dcahyono@hijra.id)\": \"f799f9fe-ed67-427c-8e51-199de6cd54a6\"};      // friendly label -> Plane member UUID\nconst TITLE_TEMPLATE = \"{NAMA NASABAH}\";  // uses {FIELD LABEL} tokens\nconst PRIORITY       = \"medium\";        // urgent|high|medium|low|none\nconst STATE          = \"3548318b-6eb9-496d-b86b-d249c61015d6\";           // Plane state UUID (intake); \"\" -> project default\nconst LABELS             = [\"00aaceee-5fbe-45b4-b447-ada8b5562730\", \"d5b7ef8f-44bb-4155-9725-29110abbb80e\"];             // label UUIDs attached to every submission\nconst CHOICE_LABEL_FIELD = \"\"; // field whose option adds a label (\"\" = none)\nconst CHOICE_LABEL_MAP   = {};   // {option text: label UUID}\nconst MODULE_FIELD       = \"\";       // field whose option maps to a module (\"\" = none)\nconst MODULE_MAP         = {};         // {option text: module UUID}\nconst DUE_IN_DAYS        = 3;         // -1 disables auto dates\nconst DATE_MAPPINGS      = {};       // {field label: \"target_date\"|\"start_date\"}\n\nconst get = (l) => (f[l] == null ? '' : String(f[l])).trim();\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst linkify = (u) => {\n  const s = String(u || '').trim();\n  if (!s) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(s) ? ('<a href=\"' + esc(s) + '\">' + esc(s) + '</a>') : esc(s);\n};\n\n// --- Title ---\nlet name = TITLE_TEMPLATE.replace(/\\{([^}]+)\\}/g, (_, k) => get(k)).replace(/\\s+/g, ' ').trim();\nif (!name) name = (get((FIELDS[0] || {}).label) || 'Untitled');\n\n// --- Assignee (hit -> set; miss -> capture in description) ---\nlet assignees = [];\nlet unresolvedAssignee = '';\nif (ASSIGNEE_FIELD) {\n  const lbl = get(ASSIGNEE_FIELD);\n  if (MEMBER_MAP[lbl]) assignees = [MEMBER_MAP[lbl]];\n  else if (lbl) unresolvedAssignee = lbl;\n}\n\n// --- Description (HTML) — one row per field, links clickable ---\nconst rows = [];\nfor (const fld of FIELDS) {\n  if (fld.label === ASSIGNEE_FIELD) continue;     // shown via assignee handling\n  if (DATE_MAPPINGS[fld.label]) continue;          // promoted to a Plane date field\n  const v = get(fld.label);\n  rows.push('<p><strong>' + esc(fld.label) + ':</strong> '\n    + (fld.isLink ? ('<br/>' + linkify(v)) : esc(v)) + '</p>');\n}\nif (unresolvedAssignee) {\n  rows.push('<p><strong>' + esc(ASSIGNEE_FIELD)\n    + ' (belum terpetakan ke member Plane):</strong> ' + esc(unresolvedAssignee) + '</p>');\n}\nconst description_html = rows.join('\\n');\n\n// --- Labels: always-on + choice-driven ---\nlet labels = LABELS.slice();\nif (CHOICE_LABEL_FIELD) {\n  const id = CHOICE_LABEL_MAP[get(CHOICE_LABEL_FIELD)];\n  if (id && labels.indexOf(id) < 0) labels.push(id);\n}\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: PRIORITY,\n  assignees: assignees,\n};\nif (STATE) body.state = STATE;             // pin intake state (else Plane uses project default)\nif (labels.length) body.labels = labels;\n\n// Auto dates: start = today, due = today + DUE_IN_DAYS. Computed in Asia/Jakarta\n// (UTC+7, no DST) so \"today\" is correct regardless of the n8n server timezone.\nif (DUE_IN_DAYS >= 0) {\n  const _pad = (n) => String(n).padStart(2, '0');\n  const _ymd = (d) => d.getUTCFullYear() + '-' + _pad(d.getUTCMonth() + 1) + '-' + _pad(d.getUTCDate());\n  const _jkt = new Date(Date.now() + 7 * 3600 * 1000);\n  body.start_date = _ymd(_jkt);\n  body.target_date = _ymd(new Date(_jkt.getTime() + DUE_IN_DAYS * 86400000));\n}\n\n// Explicit form date fields (if any) override the auto dates.\nfor (const lbl of Object.keys(DATE_MAPPINGS)) {\n  const v = get(lbl);\n  if (v) body[DATE_MAPPINGS[lbl]] = v;   // n8n date field yields YYYY-MM-DD\n}\n\n// Module is set via a second call (Plane create takes no module); resolve its UUID\n// from the chosen category. Empty -> the \"Add to module\" node (if any) is a no-op.\nlet module_id = '';\nif (MODULE_FIELD) module_id = MODULE_MAP[get(MODULE_FIELD)] || '';\n\nreturn { body: body, module_id: module_id };\n"
      },
      "id": "dcf4d2d8-9cb9-4b93-a093-459a693c754a",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "c2d95bbe-3e2a-4a09-bf3a-ff3fad241a0a",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan berhasil dibuat",
        "completionMessage": "=Created HIJ-{{ $('Create Plane work item').first().json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $('Create Plane work item').first().json.id }}",
        "options": {}
      },
      "id": "317324f5-1863-4299-9772-a729e585c983",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "content": "## HIJ form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE`\n- **`PLANE_TARGET_PROJECT_ID`** → `e89c3f8b-5603-41af-9187-11638d1f65ce` (HIJ)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n- new items created in state **PERMINTAAN MASUK** (`3548318b-6eb9-496d-b86b-d249c61015d6`)\n- auto-labels: business-form, business-form-93\n\n### Assignee dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's MEMBER_MAP resolves the choice\nto a member UUID (hit → assignee; miss → captured in the description). Add BOTH a\ndropdown option AND a MEMBER_MAP entry (identical strings) as people sign up:\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\n### Manual / needs attention\n- ATASAN USER is a Jira user-picker (person field) with no n8n equivalent; rebuild as a member-snapshot dropdown sourced from Plane project members and refresh as people join — maps to the work-item assignee\n",
        "height": 360,
        "width": 480
      },
      "id": "98e887e9-d64a-4066-b935-19e0b4c139c3",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "hij-appraisal-request"
  }
}
