n8n/hlrs-due-date-reminder.workflow.json
{
  "name": "Plane HLRS — Due Date Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Daily schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/6328c439-cf0b-4e44-b779-73c82201fa29/states/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Fetch states",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/6328c439-cf0b-4e44-b779-73c82201fa29/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "assignees,state"
            },
            {
              "name": "per_page",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Fetch work items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst WEB_BASE   = 'https://YOUR_PLANE_BASE';   // Plane web UI host (ticket links)\nconst SLUG       = 'hijra';\nconst PROJECT_ID = '6328c439-cf0b-4e44-b779-73c82201fa29';\nconst IDENT      = 'HLRS';\nconst SKIP_GROUPS = ['completed', 'cancelled'];  // never reminded / never \"pending\"\n\nconst pad = (n) => String(n).padStart(2, '0');\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\n// \"today\" in Asia/Jakarta (UTC+7, no DST) — independent of the n8n server tz.\nconst jkt = new Date(Date.now() + 7 * 3600 * 1000);\nconst today = jkt.getUTCFullYear() + '-' + pad(jkt.getUTCMonth() + 1) + '-' + pad(jkt.getUTCDate());\nconst todayMs = Date.parse(today + 'T00:00:00Z');\n\n// state id -> {name, group} from the \"Fetch states\" node (fallback for when a\n// work item's `state` comes back as a bare UUID rather than an expanded object).\nconst stateMap = {};\nfor (const it of $('Fetch states').all()) {\n  const b = it.json;\n  const arr = Array.isArray(b) ? b : (b.results || []);\n  for (const s of arr) stateMap[s.id] = { name: s.name, group: s.group };\n}\n\n// Flatten work items from the fetch. Single per_page=1000 page covers every one\n// of these projects (largest = HLRS 404). Guard against silent truncation if a\n// project ever grows past 1000 — then re-enable cursor pagination on the HTTP node.\nconst items = [];\nlet truncated = false;\nfor (const it of $input.all()) {\n  const b = it.json;\n  const arr = Array.isArray(b) ? b : (b.results || []);\n  items.push(...arr);\n  if (b && b.next_page_results === true) truncated = true;\n}\nif (truncated) console.warn('WARNING: >1000 issues — only the first 1000 were fetched. Re-enable pagination.');\n\nconst stateOf = (wi) => {\n  const sid = (wi.state && typeof wi.state === 'object') ? wi.state.id : wi.state;\n  return stateMap[sid] || (typeof wi.state === 'object' ? wi.state : {});\n};\nconst emailsOf = (wi) => (wi.assignees || [])\n  .map((a) => (a && typeof a === 'object') ? a.email : null)\n  .filter(Boolean);\nconst linkOf = (wi) => WEB_BASE + '/' + SLUG + '/projects/' + PROJECT_ID + '/issues/' + wi.id + '/';\nconst refOf = (wi) => IDENT + '-' + wi.sequence_id;\n\n// One email per (ticket due today) x (assignee). Skip unassigned; skip\n// completed/cancelled. Day-of only — no pre-warning, no overdue repeat.\nconst out = [];\nfor (const wi of items) {\n  const due = String(wi.target_date || '').slice(0, 10);\n  if (due !== today) continue;\n  const st = stateOf(wi);\n  if (SKIP_GROUPS.includes(st.group)) continue;\n  const emails = emailsOf(wi);\n  if (!emails.length) continue;\n\n  const ref = refOf(wi);\n  const title = wi.name || '(untitled)';\n  const link = linkOf(wi);\n  const row = (k, v) =>\n    '<tr><td style=\"border:1px solid #e5e7eb;padding:6px\"><strong>' + k + '</strong></td>' +\n    '<td style=\"border:1px solid #e5e7eb;padding:6px\">' + v + '</td></tr>';\n  const html =\n    '<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#1f2937\">' +\n    '<p>Reminder — this ticket is <strong>due today (' + esc(today) + ')</strong>:</p>' +\n    '<table style=\"border-collapse:collapse;border:1px solid #e5e7eb\">' +\n    row('Ref', esc(ref)) +\n    row('Title', esc(title)) +\n    row('Status', esc(st.name || '')) +\n    row('Assignee', esc(emails.join(', '))) +\n    row('Due date', esc(due)) +\n    '</table>' +\n    '<p style=\"margin-top:16px\">' +\n    '<a href=\"' + esc(link) + '\" style=\"background:#3b82f6;color:#fff;padding:10px 16px;' +\n    'border-radius:6px;text-decoration:none;display:inline-block\">Open in Plane</a></p>' +\n    '</div>';\n  const subject = 'Reminder: ' + ref + ' is due today — ' + title;\n  for (const email of emails) {\n    out.push({ json: { to: email, subject: subject, html: html, ref: ref } });\n  }\n}\nreturn out;\n"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Build emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "legalhijra@hijra.id",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Send reminder (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "content": "## HLRS — Due Date Reminder\nFill the PLACEHOLDERS before enabling:\n- **host** `YOUR_PLANE_BASE` → both HTTP node URLs and Code `WEB_BASE`\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key) in both HTTP nodes\n- workspace slug = `hijra`, project id = `6328c439-cf0b-4e44-b779-73c82201fa29` — already hardcoded\n\n### Send Email (SMTP) node\nAttach an **SMTP credential**. `From` is set to **legalhijra@hijra.id** in the node (editable). Make sure the SMTP server/account is allowed to send as that address.\n\n### Fetch work items\nSingle `GET /issues/?per_page=1000&expand=assignees,state` — this instance returns a whole project in one page (verified: largest here is HLRS=404), so no pagination is needed. `/work-items/` 404s here, so `/issues/` is used. If a project ever exceeds 1000 issues the Build node warns and the digest shows a banner — re-add cursor pagination then.\n\n### Schedule\nDaily at **08:00 Asia/Jakarta** (workflow timezone set on Settings).\n\nOne email per ticket **due today**, to each assignee. Unassigned tickets and completed/cancelled states are skipped. (Zero due-today tickets -> the Code node shows one empty item and no mail is sent — that is expected.)\n",
        "height": 470,
        "width": 540
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -520
      ]
    }
  ],
  "connections": {
    "Daily schedule": {
      "main": [
        [
          {
            "node": "Fetch states",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch states": {
      "main": [
        [
          {
            "node": "Fetch work items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch work items": {
      "main": [
        [
          {
            "node": "Build emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build emails": {
      "main": [
        [
          {
            "node": "Send reminder (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "pinData": {},
  "meta": {
    "templateId": "hlrs-due-date-reminder"
  }
}
