n8n/hlrs-sp3-form-to-plane.workflow.json
{
  "name": "HLRS · LEGAL REVIEW SP3 form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HIJRA-LEGAL REVIEW SP3",
        "formDescription": "Form permintaan Legal Review SP3.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi dengan Nama Nasabah"
            },
            {
              "fieldLabel": "MUAP, RISK REVIEW, KOMITE/MOM (SHARE GOOGLE DRIVE)",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Mohon di share Link dokumen yang telah final termasuk dokumen nasabah dan jaminan yang diperlukan"
            },
            {
              "fieldLabel": "DRAFT SP3",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Mohon Share Link Dokumen Draft SP3 (Google Dok/Ms.W)"
            },
            {
              "fieldLabel": "PILIHAN SP3",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "PLAFOND"
                  },
                  {
                    "option": "ONE SHOOT"
                  },
                  {
                    "option": "REALISASI"
                  },
                  {
                    "option": "RESTRUKTUR/ADDENDUM"
                  }
                ]
              }
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "746fa719-0af1-419c-b27c-59a06aaf9976",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "19a095d9-d10d-4090-8e3d-4fff8ef2bd8e"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Generated by build_form_workflow.py — form submission -> Plane work item payload.\n// Plane create body: name (required), description_html, priority,\n// assignees[] (member UUIDs), target_date/start_date (YYYY-MM-DD).\nconst f = $json;\n\nconst FIELDS         = [{\"label\": \"NAMA NASABAH\", \"isLink\": false}, {\"label\": \"MUAP, RISK REVIEW, KOMITE/MOM (SHARE GOOGLE DRIVE)\", \"isLink\": true}, {\"label\": \"DRAFT SP3\", \"isLink\": true}, {\"label\": \"PILIHAN SP3\", \"isLink\": false}, {\"label\": \"ATASAN USER\", \"isLink\": false}];          // [{label, isLink}]\nconst ASSIGNEE_FIELD = \"ATASAN USER\";  // \"\" or the user-picker field label\nconst MEMBER_MAP     = {\"Danny Dwi Cahyono (dcahyono@hijra.id)\": \"f799f9fe-ed67-427c-8e51-199de6cd54a6\"};      // friendly label -> Plane member UUID\nconst TITLE_TEMPLATE = \"{NAMA NASABAH}\";  // uses {FIELD LABEL} tokens\nconst PRIORITY       = \"medium\";        // urgent|high|medium|low|none\nconst STATE          = \"7a970a92-e428-4bdb-818a-fc5e61827116\";           // Plane state UUID (intake); \"\" -> project default\nconst LABELS             = [\"59239529-4e11-4ef0-88f3-402ce0d2544f\", \"05859761-605f-4ccb-833b-5d5f29add690\"];             // label UUIDs attached to every submission\nconst CHOICE_LABEL_FIELD = \"\"; // field whose option adds a label (\"\" = none)\nconst CHOICE_LABEL_MAP   = {};   // {option text: label UUID}\nconst MODULE_FIELD       = \"\";       // field whose option maps to a module (\"\" = none)\nconst MODULE_MAP         = {};         // {option text: module UUID}\nconst DUE_IN_DAYS        = 3;         // -1 disables auto dates\nconst DATE_MAPPINGS      = {};       // {field label: \"target_date\"|\"start_date\"}\n\nconst get = (l) => (f[l] == null ? '' : String(f[l])).trim();\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst linkify = (u) => {\n  const s = String(u || '').trim();\n  if (!s) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(s) ? ('<a href=\"' + esc(s) + '\">' + esc(s) + '</a>') : esc(s);\n};\n\n// --- Title ---\nlet name = TITLE_TEMPLATE.replace(/\\{([^}]+)\\}/g, (_, k) => get(k)).replace(/\\s+/g, ' ').trim();\nif (!name) name = (get((FIELDS[0] || {}).label) || 'Untitled');\n\n// --- Assignee (hit -> set; miss -> capture in description) ---\nlet assignees = [];\nlet unresolvedAssignee = '';\nif (ASSIGNEE_FIELD) {\n  const lbl = get(ASSIGNEE_FIELD);\n  if (MEMBER_MAP[lbl]) assignees = [MEMBER_MAP[lbl]];\n  else if (lbl) unresolvedAssignee = lbl;\n}\n\n// --- Description (HTML) — one row per field, links clickable ---\nconst rows = [];\nfor (const fld of FIELDS) {\n  if (fld.label === ASSIGNEE_FIELD) continue;     // shown via assignee handling\n  if (DATE_MAPPINGS[fld.label]) continue;          // promoted to a Plane date field\n  const v = get(fld.label);\n  rows.push('<p><strong>' + esc(fld.label) + ':</strong> '\n    + (fld.isLink ? ('<br/>' + linkify(v)) : esc(v)) + '</p>');\n}\nif (unresolvedAssignee) {\n  rows.push('<p><strong>' + esc(ASSIGNEE_FIELD)\n    + ' (belum terpetakan ke member Plane):</strong> ' + esc(unresolvedAssignee) + '</p>');\n}\nconst description_html = rows.join('\\n');\n\n// --- Labels: always-on + choice-driven ---\nlet labels = LABELS.slice();\nif (CHOICE_LABEL_FIELD) {\n  const id = CHOICE_LABEL_MAP[get(CHOICE_LABEL_FIELD)];\n  if (id && labels.indexOf(id) < 0) labels.push(id);\n}\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: PRIORITY,\n  assignees: assignees,\n};\nif (STATE) body.state = STATE;             // pin intake state (else Plane uses project default)\nif (labels.length) body.labels = labels;\n\n// Auto dates: start = today, due = today + DUE_IN_DAYS. Computed in Asia/Jakarta\n// (UTC+7, no DST) so \"today\" is correct regardless of the n8n server timezone.\nif (DUE_IN_DAYS >= 0) {\n  const _pad = (n) => String(n).padStart(2, '0');\n  const _ymd = (d) => d.getUTCFullYear() + '-' + _pad(d.getUTCMonth() + 1) + '-' + _pad(d.getUTCDate());\n  const _jkt = new Date(Date.now() + 7 * 3600 * 1000);\n  body.start_date = _ymd(_jkt);\n  body.target_date = _ymd(new Date(_jkt.getTime() + DUE_IN_DAYS * 86400000));\n}\n\n// Explicit form date fields (if any) override the auto dates.\nfor (const lbl of Object.keys(DATE_MAPPINGS)) {\n  const v = get(lbl);\n  if (v) body[DATE_MAPPINGS[lbl]] = v;   // n8n date field yields YYYY-MM-DD\n}\n\n// Module is set via a second call (Plane create takes no module); resolve its UUID\n// from the chosen category. Empty -> the \"Add to module\" node (if any) is a no-op.\nlet module_id = '';\nif (MODULE_FIELD) module_id = MODULE_MAP[get(MODULE_FIELD)] || '';\n\nreturn { body: body, module_id: module_id };\n"
      },
      "id": "304b920d-7096-40d2-a735-8a24ce996dfc",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "b04ebb38-0fa2-4726-b8fb-1886d375c3ef",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan berhasil dibuat",
        "completionMessage": "=Created HLRS-{{ $('Create Plane work item').first().json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $('Create Plane work item').first().json.id }}",
        "options": {}
      },
      "id": "1441cdac-b79c-4a41-8246-beccf36bb733",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "content": "## HLRS form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE`\n- **`PLANE_TARGET_PROJECT_ID`** → `6328c439-cf0b-4e44-b779-73c82201fa29` (HLRS)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n- new items created in state **PERMINTAAN MASUK** (`7a970a92-e428-4bdb-818a-fc5e61827116`)\n- auto-labels: business-form, business-form-63\n\n### Assignee dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's MEMBER_MAP resolves the choice\nto a member UUID (hit → assignee; miss → captured in the description). Add BOTH a\ndropdown option AND a MEMBER_MAP entry (identical strings) as people sign up:\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\n### Manual / needs attention\n- ATASAN USER is a Jira user-picker rebuilt as a member-snapshot dropdown; refresh options + MEMBER_MAP as people join Plane\n",
        "height": 360,
        "width": 480
      },
      "id": "b3a022d2-204e-4f48-9a67-5679189a64df",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "hlrs-sp3-form-to-plane"
  }
}
