n8n/hlrs-sp3-form-to-plane.workflow.json
{
  "name": "HLRS · LEGAL REVIEW SP3 form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HIJRA-LEGAL REVIEW SP3",
        "formDescription": "Form permintaan Legal Review SP3.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "placeholder": "Diisi dengan Nama Nasabah",
              "requiredField": true
            },
            {
              "fieldLabel": "MUAP, RISK REVIEW, KOMITE/MOM (SHARE GOOGLE DRIVE)",
              "fieldType": "text",
              "placeholder": "Mohon di share Link dokumen yang telah final termasuk dokumen nasabah dan jaminan yang diperlukan",
              "requiredField": true
            },
            {
              "fieldLabel": "DRAFT SP3",
              "fieldType": "text",
              "placeholder": "Mohon Share Link Dokumen Draft SP3 (Google Dok/Ms.W)",
              "requiredField": true
            },
            {
              "fieldLabel": "PILIHAN SP3",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "PLAFOND"
                  },
                  {
                    "option": "ONE SHOOT"
                  },
                  {
                    "option": "REALISASI"
                  },
                  {
                    "option": "RESTRUKTUR/ADDENDUM"
                  }
                ]
              }
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "01058fd1-b9bc-41ad-afd3-2d25436256d8",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "94b02d48-05a5-4858-acc4-f356ffc445c3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Map HIJRA-LEGAL REVIEW SP3 form submission -> Plane work item payload.\n// Plane create body fields: name (required), description_html, priority,\n// assignees[] (member UUIDs), labels[] (label UUIDs), target_date/start_date.\n//\n// Field keys below are the EXACT Form Trigger labels (Indonesian, verbatim).\n\nconst f = $json;\n\nconst namaNasabah  = (f['NAMA NASABAH'] || '').trim();\nconst muap         = (f['MUAP, RISK REVIEW, KOMITE/MOM (SHARE GOOGLE DRIVE)'] || '').trim();\nconst draftSp3     = (f['DRAFT SP3'] || '').trim();\nconst pilihanSp3   = (f['PILIHAN SP3'] || '').trim();\nconst atasanLabel  = (f['ATASAN USER'] || '').trim();\n\n// ATASAN USER -> Plane assignee.\n// Jira's user picker has no n8n equivalent, so ATASAN USER is a dropdown of friendly\n// labels. This explicit map (snapshot of Plane HLRS members) turns the chosen label\n// into a member UUID. MANUAL: add an entry here whenever the dropdown gains an option.\n// Strategy (per CLAUDE.md): hit -> set assignees; miss -> leave empty AND capture the\n// chosen supervisor in the description so nothing is lost.\nconst MEMBER_MAP = {\n  'Danny Dwi Cahyono (dcahyono@hijra.id)': 'f799f9fe-ed67-427c-8e51-199de6cd54a6',\n};\nconst atasanUserUuid = MEMBER_MAP[atasanLabel] || '';\n\n// --- Title ---\nconst name = ('SP3 ' + pilihanSp3 + ' – ' + namaNasabah).trim();\n\n// --- Description (HTML) — audit trail of links + selection ---\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst link = (url) => {\n  const u = String(url || '').trim();\n  if (!u) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(u) ? ('<a href=\"' + esc(u) + '\">' + esc(u) + '</a>') : esc(u);\n};\nconst parts = [\n  '<p><strong>Pilihan SP3:</strong> ' + esc(pilihanSp3) + '</p>',\n  '<p><strong>MUAP, Risk Review, Komite/MOM (Google Drive):</strong><br/>' + link(muap) + '</p>',\n  '<p><strong>Draft SP3:</strong><br/>' + link(draftSp3) + '</p>',\n];\n// --- Assignees ---  (hit -> set; miss -> capture supervisor in description)\nconst assignees = atasanUserUuid ? [atasanUserUuid] : [];\nif (atasanLabel && !atasanUserUuid) {\n  parts.push('<p><strong>Atasan User (belum terpetakan ke member Plane):</strong> ' + esc(atasanLabel) + '</p>');\n}\nparts.push('<hr/>');\nparts.push('<p><em>Dibuat via n8n form (HIJRA-LEGAL REVIEW SP3).</em></p>');\nconst description_html = parts.join('\\n');\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: 'none',            // form has no priority field\n  assignees: assignees,\n  // labels: [],               // MANUAL: no label-UUID map provided; PILIHAN SP3\n  //                           //         is captured in the description instead.\n  // target_date: null,        // MANUAL: form has no date field.\n};\n\n// Pass-through for the completion screen / debugging.\nreturn { body: body, _meta: { pilihanSp3: pilihanSp3, namaNasabah: namaNasabah } };\n"
      },
      "id": "f83a9fb4-eab1-47d9-a36b-9900ef9b09ea",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "e0abd218-52a8-4bf1-abd7-7f0635ccf126",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan SP3 berhasil dibuat",
        "completionMessage": "=Created HLRS-{{ $json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $json.id }}",
        "options": {}
      },
      "id": "4cfe4435-4f6d-4ea0-857e-2d8989baef45",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "content": "## HLRS SP3 form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE` (HTTP node + Form ending link)\n- **`PLANE_TARGET_PROJECT_ID`** → `6328c439-cf0b-4e44-b779-73c82201fa29` (HLRS / Legal Review SP3)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n\n### ATASAN USER dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's **MEMBER_MAP** turns the\nchosen label into a Plane member UUID (hit → assignee; miss → captured in\nthe description). As people sign up, add BOTH a dropdown option AND a\nMEMBER_MAP entry (keep the strings identical).\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\nRefresh via Plane: GET project members for the HLRS project.",
        "height": 320,
        "width": 460
      },
      "id": "b225f27c-f5fd-4ee4-a850-369e8fc2fbd0",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -260
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "hlrs-sp3-form-to-plane"
  }
}
