n8n/lrp-legal-request.workflow.json
{
  "name": "LRP · LEGAL REQUEST PKS form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Legal Request PKS",
        "formDescription": "HIJRA - LEGAL REQUEST PKS",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi dengan Nama Nasabah"
            },
            {
              "fieldLabel": "JENIS PENGIKATAN",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Diisi sesuai dengan pilihan",
              "fieldOptions": {
                "values": [
                  {
                    "option": "PKS"
                  },
                  {
                    "option": "NDA"
                  },
                  {
                    "option": "MOU PAYUNG"
                  }
                ]
              }
            },
            {
              "fieldLabel": "RUANG LINGKUP/KESEPAKATAN KERJA SAMA",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi Ruang Lingkup/Kesimpulan kesepakatan Perjanjian yang akan dituangkan dalam perjanjian"
            },
            {
              "fieldLabel": "DRAFT PKS (JIKA ADA)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Mohon di Share Link Google Dok/Ms.W (Jika telah ada draft PKS atau Draft Kesepakatan kerja)"
            },
            {
              "fieldLabel": "DOKUMEN LEGALITAS MITRA",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Mohon di Share Link Google Dok/Ms.W (Legalitas Wajib: Akta Pendirian, Akta Perubahan, SK Pengesahan & NPWP)"
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e4431d54-2758-439d-9a62-f5e16db15089",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "4364e6e1-4d71-4921-aa5a-55bcd8b5e812"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Generated by build_form_workflow.py — form submission -> Plane work item payload.\n// Plane create body: name (required), description_html, priority,\n// assignees[] (member UUIDs), target_date/start_date (YYYY-MM-DD).\nconst f = $json;\n\nconst FIELDS         = [{\"label\": \"NAMA NASABAH\", \"isLink\": false}, {\"label\": \"JENIS PENGIKATAN\", \"isLink\": false}, {\"label\": \"RUANG LINGKUP/KESEPAKATAN KERJA SAMA\", \"isLink\": false}, {\"label\": \"DRAFT PKS (JIKA ADA)\", \"isLink\": true}, {\"label\": \"DOKUMEN LEGALITAS MITRA\", \"isLink\": true}, {\"label\": \"ATASAN USER\", \"isLink\": false}];          // [{label, isLink}]\nconst ASSIGNEE_FIELD = \"ATASAN USER\";  // \"\" or the user-picker field label\nconst MEMBER_MAP     = {\"Danny Dwi Cahyono (dcahyono@hijra.id)\": \"f799f9fe-ed67-427c-8e51-199de6cd54a6\"};      // friendly label -> Plane member UUID\nconst TITLE_TEMPLATE = \"{JENIS PENGIKATAN} – {NAMA NASABAH}\";  // uses {FIELD LABEL} tokens\nconst PRIORITY       = \"none\";        // urgent|high|medium|low|none\nconst DATE_MAPPINGS  = {};   // {field label: \"target_date\"|\"start_date\"}\n\nconst get = (l) => (f[l] == null ? '' : String(f[l])).trim();\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst linkify = (u) => {\n  const s = String(u || '').trim();\n  if (!s) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(s) ? ('<a href=\"' + esc(s) + '\">' + esc(s) + '</a>') : esc(s);\n};\n\n// --- Title ---\nlet name = TITLE_TEMPLATE.replace(/\\{([^}]+)\\}/g, (_, k) => get(k)).replace(/\\s+/g, ' ').trim();\nif (!name) name = (get((FIELDS[0] || {}).label) || 'Untitled');\n\n// --- Assignee (hit -> set; miss -> capture in description) ---\nlet assignees = [];\nlet unresolvedAssignee = '';\nif (ASSIGNEE_FIELD) {\n  const lbl = get(ASSIGNEE_FIELD);\n  if (MEMBER_MAP[lbl]) assignees = [MEMBER_MAP[lbl]];\n  else if (lbl) unresolvedAssignee = lbl;\n}\n\n// --- Description (HTML) — audit trail of every field ---\nconst rows = [];\nfor (const fld of FIELDS) {\n  if (fld.label === ASSIGNEE_FIELD) continue;     // shown via assignee handling\n  if (DATE_MAPPINGS[fld.label]) continue;          // promoted to a Plane date field\n  const v = get(fld.label);\n  rows.push('<p><strong>' + esc(fld.label) + ':</strong> '\n    + (fld.isLink ? ('<br/>' + linkify(v)) : esc(v)) + '</p>');\n}\nif (unresolvedAssignee) {\n  rows.push('<p><strong>' + esc(ASSIGNEE_FIELD)\n    + ' (belum terpetakan ke member Plane):</strong> ' + esc(unresolvedAssignee) + '</p>');\n}\nrows.push('<hr/>');\nrows.push('<p><em>Dibuat via n8n form.</em></p>');\nconst description_html = rows.join('\\n');\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: PRIORITY,\n  assignees: assignees,\n};\nfor (const lbl of Object.keys(DATE_MAPPINGS)) {\n  const v = get(lbl);\n  if (v) body[DATE_MAPPINGS[lbl]] = v;   // n8n date field yields YYYY-MM-DD\n}\n\nreturn { body: body };\n"
      },
      "id": "0ce26ca1-031c-47ef-a1c2-377c617d603b",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "079c6cf5-ffa0-4673-9f90-300ce39db1ea",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan berhasil dibuat",
        "completionMessage": "=Created LRP-{{ $json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $json.id }}",
        "options": {}
      },
      "id": "861a27fc-3644-49af-935e-b3d555644ced",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "content": "## LRP form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE`\n- **`PLANE_TARGET_PROJECT_ID`** → `ec9b3331-893a-468b-89b2-f8801c97a5af` (LRP)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n\n### Assignee dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's MEMBER_MAP resolves the choice\nto a member UUID (hit → assignee; miss → captured in the description). Add BOTH a\ndropdown option AND a MEMBER_MAP entry (identical strings) as people sign up:\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\n### Manual / needs attention\n- ATASAN USER is a Jira user-picker (member-snapshot dropdown) — no n8n equivalent; populate/refresh options as people join Plane and map to assignee\n- DRAFT PKS (JIKA ADA) and DOKUMEN LEGALITAS MITRA expect Google Doc/Ms.W share links — captured as text URLs in description; Plane create API takes no inline file uploads\n",
        "height": 360,
        "width": 480
      },
      "id": "c298a8a5-51e0-4b09-914d-77e332c04d42",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "lrp-legal-request"
  }
}
