n8n/lrp-legal-request.workflow.json
{
  "name": "LRP · LEGAL REQUEST PKS form → Plane work item",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Legal Request PKS",
        "formDescription": "HIJRA - LEGAL REQUEST PKS",
        "formFields": {
          "values": [
            {
              "fieldLabel": "NAMA NASABAH",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Diisi dengan Nama Nasabah"
            },
            {
              "fieldLabel": "JENIS PENGIKATAN",
              "fieldType": "dropdown",
              "requiredField": true,
              "placeholder": "Diisi sesuai dengan pilihan",
              "fieldOptions": {
                "values": [
                  {
                    "option": "PKS"
                  },
                  {
                    "option": "NDA"
                  },
                  {
                    "option": "MOU PAYUNG"
                  }
                ]
              }
            },
            {
              "fieldLabel": "RUANG LINGKUP/KESEPAKATAN KERJA SAMA",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Diisi Ruang Lingkup/Kesimpulan kesepakatan Perjanjian yang akan dituangkan dalam perjanjian"
            },
            {
              "fieldLabel": "DRAFT PKS (JIKA ADA)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Mohon di Share Link Google Dok/Ms.W (Jika telah ada draft PKS atau Draft Kesepakatan kerja)"
            },
            {
              "fieldLabel": "DOKUMEN LEGALITAS MITRA",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Mohon di Share Link Google Dok/Ms.W (Legalitas Wajib: Akta Pendirian, Akta Perubahan, SK Pengesahan & NPWP)"
            },
            {
              "fieldLabel": "ATASAN USER",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Danny Dwi Cahyono (dcahyono@hijra.id)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e085324b-9239-45d6-a06b-ea8d99301f1f",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "d3c2b83f-8654-4509-938e-613670cc304d"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Generated by build_form_workflow.py — form submission -> Plane work item payload.\n// Plane create body: name (required), description_html, priority,\n// assignees[] (member UUIDs), target_date/start_date (YYYY-MM-DD).\nconst f = $json;\n\nconst FIELDS         = [{\"label\": \"NAMA NASABAH\", \"isLink\": false}, {\"label\": \"JENIS PENGIKATAN\", \"isLink\": false}, {\"label\": \"RUANG LINGKUP/KESEPAKATAN KERJA SAMA\", \"isLink\": false}, {\"label\": \"DRAFT PKS (JIKA ADA)\", \"isLink\": true}, {\"label\": \"DOKUMEN LEGALITAS MITRA\", \"isLink\": true}, {\"label\": \"ATASAN USER\", \"isLink\": false}];          // [{label, isLink}]\nconst ASSIGNEE_FIELD = \"ATASAN USER\";  // \"\" or the user-picker field label\nconst MEMBER_MAP     = {\"Danny Dwi Cahyono (dcahyono@hijra.id)\": \"f799f9fe-ed67-427c-8e51-199de6cd54a6\"};      // friendly label -> Plane member UUID\nconst TITLE_TEMPLATE = \"{NAMA NASABAH}\";  // uses {FIELD LABEL} tokens\nconst PRIORITY       = \"medium\";        // urgent|high|medium|low|none\nconst STATE          = \"b32fa9bb-741e-4853-97c8-9b6fd5c9c2f5\";           // Plane state UUID (intake); \"\" -> project default\nconst LABELS             = [\"be8e2225-d30f-4c4e-b6a0-9a02a64f8201\", \"b69f1139-4b7a-4ab8-8e31-675c0f4af4c2\"];             // label UUIDs attached to every submission\nconst CHOICE_LABEL_FIELD = \"JENIS PENGIKATAN\"; // field whose option adds a label (\"\" = none)\nconst CHOICE_LABEL_MAP   = {\"NDA\": \"fc7d1384-d5dc-4a19-80d9-a4644a2a8ccf\"};   // {option text: label UUID}\nconst MODULE_FIELD       = \"JENIS PENGIKATAN\";       // field whose option maps to a module (\"\" = none)\nconst MODULE_MAP         = {\"PKS\": \"4319d38a-0aa0-4920-a952-ca21c4308440\", \"NDA\": \"ffc44544-47f7-4917-864e-fb1a62173c47\", \"MOU PAYUNG\": \"4f9b2382-1f0c-42a0-ab30-f339fddcd1d1\"};         // {option text: module UUID}\nconst DUE_IN_DAYS        = 3;         // -1 disables auto dates\nconst DATE_MAPPINGS      = {};       // {field label: \"target_date\"|\"start_date\"}\n\nconst get = (l) => (f[l] == null ? '' : String(f[l])).trim();\nconst esc = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst linkify = (u) => {\n  const s = String(u || '').trim();\n  if (!s) return '<em>(kosong)</em>';\n  return /^https?:\\/\\//i.test(s) ? ('<a href=\"' + esc(s) + '\">' + esc(s) + '</a>') : esc(s);\n};\n\n// --- Title ---\nlet name = TITLE_TEMPLATE.replace(/\\{([^}]+)\\}/g, (_, k) => get(k)).replace(/\\s+/g, ' ').trim();\nif (!name) name = (get((FIELDS[0] || {}).label) || 'Untitled');\n\n// --- Assignee (hit -> set; miss -> capture in description) ---\nlet assignees = [];\nlet unresolvedAssignee = '';\nif (ASSIGNEE_FIELD) {\n  const lbl = get(ASSIGNEE_FIELD);\n  if (MEMBER_MAP[lbl]) assignees = [MEMBER_MAP[lbl]];\n  else if (lbl) unresolvedAssignee = lbl;\n}\n\n// --- Description (HTML) — one row per field, links clickable ---\nconst rows = [];\nfor (const fld of FIELDS) {\n  if (fld.label === ASSIGNEE_FIELD) continue;     // shown via assignee handling\n  if (DATE_MAPPINGS[fld.label]) continue;          // promoted to a Plane date field\n  const v = get(fld.label);\n  rows.push('<p><strong>' + esc(fld.label) + ':</strong> '\n    + (fld.isLink ? ('<br/>' + linkify(v)) : esc(v)) + '</p>');\n}\nif (unresolvedAssignee) {\n  rows.push('<p><strong>' + esc(ASSIGNEE_FIELD)\n    + ' (belum terpetakan ke member Plane):</strong> ' + esc(unresolvedAssignee) + '</p>');\n}\nconst description_html = rows.join('\\n');\n\n// --- Labels: always-on + choice-driven ---\nlet labels = LABELS.slice();\nif (CHOICE_LABEL_FIELD) {\n  const id = CHOICE_LABEL_MAP[get(CHOICE_LABEL_FIELD)];\n  if (id && labels.indexOf(id) < 0) labels.push(id);\n}\n\n// --- Plane create body ---\nconst body = {\n  name: name,\n  description_html: description_html,\n  priority: PRIORITY,\n  assignees: assignees,\n};\nif (STATE) body.state = STATE;             // pin intake state (else Plane uses project default)\nif (labels.length) body.labels = labels;\n\n// Auto dates: start = today, due = today + DUE_IN_DAYS. Computed in Asia/Jakarta\n// (UTC+7, no DST) so \"today\" is correct regardless of the n8n server timezone.\nif (DUE_IN_DAYS >= 0) {\n  const _pad = (n) => String(n).padStart(2, '0');\n  const _ymd = (d) => d.getUTCFullYear() + '-' + _pad(d.getUTCMonth() + 1) + '-' + _pad(d.getUTCDate());\n  const _jkt = new Date(Date.now() + 7 * 3600 * 1000);\n  body.start_date = _ymd(_jkt);\n  body.target_date = _ymd(new Date(_jkt.getTime() + DUE_IN_DAYS * 86400000));\n}\n\n// Explicit form date fields (if any) override the auto dates.\nfor (const lbl of Object.keys(DATE_MAPPINGS)) {\n  const v = get(lbl);\n  if (v) body[DATE_MAPPINGS[lbl]] = v;   // n8n date field yields YYYY-MM-DD\n}\n\n// Module is set via a second call (Plane create takes no module); resolve its UUID\n// from the chosen category. Empty -> the \"Add to module\" node (if any) is a no-op.\nlet module_id = '';\nif (MODULE_FIELD) module_id = MODULE_MAP[get(MODULE_FIELD)] || '';\n\nreturn { body: body, module_id: module_id };\n"
      },
      "id": "aef748b3-0b75-45a3-9c96-afbddbc82390",
      "name": "Map → Plane payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "b459c9cb-dd72-470c-92e0-fcb0932229a2",
      "name": "Create Plane work item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Permintaan berhasil dibuat",
        "completionMessage": "=Created LRP-{{ $('Create Plane work item').first().json.sequence_id }} · https://YOUR_PLANE_BASE/hijra/projects/PLANE_TARGET_PROJECT_ID/issues/{{ $('Create Plane work item').first().json.id }}",
        "options": {}
      },
      "id": "f4ce2f37-997a-439d-8ae2-cf33b71723a9",
      "name": "Form ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "content": "## LRP form → Plane\nFill the PLACEHOLDERS before enabling:\n- **URL host** `YOUR_PLANE_BASE`\n- **`PLANE_TARGET_PROJECT_ID`** → `ec9b3331-893a-468b-89b2-f8801c97a5af` (LRP)\n- **`YOUR_PLANE_API_KEY`** → Plane token (X-API-Key)\n- workspace slug = `hijra`\n- new items created in state **PERMINTAAN MASUK** (`b32fa9bb-741e-4853-97c8-9b6fd5c9c2f5`)\n- auto-labels: business-form, business-form-62\n- choice-label: certain **JENIS PENGIKATAN** options also add a matching label (NDA)\n- module: the chosen **JENIS PENGIKATAN** is matched by name to a module (via the 'Add to module' node, set to continue-on-fail)\n\n### Assignee dropdown (snapshot of Plane members)\nDropdown shows friendly labels; the Code node's MEMBER_MAP resolves the choice\nto a member UUID (hit → assignee; miss → captured in the description). Add BOTH a\ndropdown option AND a MEMBER_MAP entry (identical strings) as people sign up:\n- `Danny Dwi Cahyono (dcahyono@hijra.id)` → `f799f9fe-ed67-427c-8e51-199de6cd54a6`\n\n### Manual / needs attention\n- ATASAN USER is a Jira user-picker (member-snapshot dropdown) — no n8n equivalent; populate/refresh options as people join Plane and map to assignee\n- DRAFT PKS (JIKA ADA) and DOKUMEN LEGALITAS MITRA expect Google Doc/Ms.W share links — captured as text URLs in description; Plane create API takes no inline file uploads\n",
        "height": 360,
        "width": 480
      },
      "id": "e3377c88-35a5-4148-9a5a-703e1167a950",
      "name": "READ ME — placeholders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PLANE_BASE/api/v1/workspaces/hijra/projects/PLANE_TARGET_PROJECT_ID/modules/{{ $('Map → Plane payload').first().json.module_id }}/module-issues/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PLANE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"issues\": [$json.id] } }}",
        "options": {}
      },
      "id": "b11e2b3c-6254-4a78-8186-824ac7dd59f2",
      "name": "Add to module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        0
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Map → Plane payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map → Plane payload": {
      "main": [
        [
          {
            "node": "Create Plane work item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plane work item": {
      "main": [
        [
          {
            "node": "Add to module",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to module": {
      "main": [
        [
          {
            "node": "Form ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "lrp-legal-request"
  }
}
